.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    gap: 40px;
}

.project h1{
    font-size: 50px;
    padding: 0 30px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-container img{
    transition: 0.3s;
    cursor: pointer;
}

.project-container img:hover{
    transform: scale(1.05);
}

@media (max-width:900px) {
    .project-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
}

@media (max-width:500px) {
    .project{
        gap: 20px;
    }

    .project h1{
        font-size: 40px;
    }

    .project-container img{
        padding: 0 12px;
        width: 360px;
        height: 250px;
    transition: 0.3s;
    cursor: pointer;
}
}