.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero img {
    margin-top: 50px;
    width: 400px;
    border-radius: 50%;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 80%;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.hero-action {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 16px 30px;
    font-size: 18px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid #fff;
}

.hero-resume {
    padding: 16px 60px;
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-resume:hover {
    border-color: #b415ff;
}

@media (max-width:760px) {


    .hero h1 {
        font-size: 40px;
        font-weight: 600;
        width: 90%;
    }
}

.hero img {
    margin-top: 30px;
    width: 300px;
    border-radius: 50%;
}


@media (max-width:500px) {
    .hero p {
        width: 90%;
        text-align: center;
        font-size: 16px;
        /* line-height: 26px; */
    }

    .hero-connect {
        padding: 12px 20px;
        font-size: 16px;
    }

    .hero-resume {
        padding: 12px 40px;
        font-size: 16px;
        border-radius: 50px;
    }
}