.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    gap: 40px;
}

.about-title{
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600
}

.about-section{
    display: flex;
    gap: 40px;
}

.about-left img{
    width: 500px;
    border-radius: 12px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 0.3s;
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.about-skill p{
    min-width: 110px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill hr{
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(246deg, #df8908 -5.09%, #b415ff 102%);
    border: none;
}

@media (max-width:1000px) {
    .about-left img{
    width: 400px;
    border-radius: 12px;
}

}

@media (max-width: 850px) {
    .about-section{
    flex-direction: column;
    gap: 40px;
}

.about-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-right{
        gap: 50px;
    }
}

@media (max-width:500px) {
    .about-title h1{
    font-size: 40px;
}
    .about-left img{
        max-width: 300px;
    }
    .about-para{
        font-size: 16px;
    }
    .about-skill{
        gap: 10px;
    }

    .about-right{
        gap: 30px;
    }
    .about-skill p{
    font-size: 16px;
}

.about-skill hr{
    height: 6px;
    border-radius: 50px;
   
}
}

