.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
    margin-top: 50px;
}

.contact h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.contact-section {
    display: flex;
    gap: 100px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-left h1 {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-left span {
    font-size: 30px;
}

.contact-left p {
    max-width: 550px;
    line-height: 30px;
    font-size: 18px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.contact-right label {
    font-size: 18px;
    font-weight: 500;
}

.contact-right input {
    width: 500px;
    border: none;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    background-color: #32323c;
    color: #a0a0a0;
    font-size: 18px;
}

.contact-right textarea {
    width: 500px;
    border: none;
    padding: 20px;
    border-radius: 4px;
    background-color: #32323c;
    color: #a0a0a0;
    font-size: 18px;
}


.contact-submit {
    padding: 16px 30px;
    font-size: 16px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 50px 0;
    color: #fff;
}

.contact-submit:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width:950px) {
    .contact-section {
        gap: 50px;
    }

    .contact-detail {
        gap: 10px;
    }

    .contact-right label {
        font-size: 16px;
        font-weight: 500;
    }

    .contact-right input {
        width: 400px;
        border: none;
        height: 40px;
        padding-left: 20px;
        border-radius: 4px;
        background-color: #32323c;
        color: #a0a0a0;
        font-size: 18px;
    }

    .contact-right textarea {
        width: 400px;
        border: none;
        padding: 20px;
        border-radius: 4px;
        background-color: #32323c;
        color: #a0a0a0;
        font-size: 18px;
    }
}

@media (max-width:750px) {
    .contact h1 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .contact-left h1 {
        font-size: 30px;
        margin: 0;
    }

    .contact-left span {
        font-size: 24px;
    }

    .contact-left p {
        max-width: 550px;
        line-height: 30px;
        font-size: 16px;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .contact-right input {
        width: 100%;
        font-size: 16px;
    }

    .contact-right textarea {
        width: 100%;
        font-size: 16px;
    }

}