a{
    text-decoration: none;
    color: #fff;
}

.header{
    width: 100vw;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 12px;
}

.navbar h2{
    font-size: 40px;
    /* padding-left: 12px; */
}

.navbar h2 span{
    color: #b923e1;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.nav-menu li{
    list-style: none;
    cursor: pointer;
    color: #fff;
}

.nav-menu li:hover{
    color: #dbd8d8;
}


.nav-contact{
    padding: 16px 30px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

.nav-contact:hover{
    transform: scale(1.05);
}

.menu-open-icon, .menu-close-icon{
    display: none;
}


@media (max-width:1000px) {
    .nav-contact{
        display: none;
    }
    .navbar h2{
    font-size: 38px;
    /* padding-left: 12px; */
}

}

@media (max-width:850px) {
    .menu-open-icon{
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        right: 30px;
        top: 30px;
    }

    .menu-close-icon{
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 3;
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: black;
        width: 60%;
        height: 100%;
        z-index: 2;
        transition: right 0.3s ease-in-out;
        right: -350px;
    } 


    .nav-menu li{
        font-size: 18px;
        padding-top: 30px;
        padding-left: 20px;
    }

    .navbar h2{
    font-size: 35px;
    /* padding-left: 12px; */
}

}