.footer {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 0 12px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top-left h1 {
    font-size: 40px;
}

.footer-top-left span {
    color: #b923e1;
}

.footer-top-left p {
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 12px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-email-input span {
    font-size: 30px;
}

.footer-email-input input {
    width: 200px;
    height: 40px;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

.footer-subscribe {
    padding: 16px 30px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
    border-radius: 50px;
    cursor: pointer;
}

.footer-subscribe:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.footer-bottom {
    text-align: center;
    margin: 20px 0;
}

@media (max-width:750px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-top-left {
        width: 100%;
    }

    .footer-subscribe {
        margin-bottom: 12px;
    }

    .footer-top-right {
        align-items: start;
        justify-content: start;
        gap: 20px;
        width: 100%;
    }

}

@media (max-width:500px) {

    .footer-top-left h1 {
        font-size: 30px;
    }

    .footer-top-left p {
        font-size: 16px;
    }

    .footer-top-right {
        gap: 10px;
    }

    .footer-email-input {

        gap: 10px;
    }

    .footer-email-input span {
        font-size: 24px;
    }

    .footer-email-input input {
        max-width: 200px;
        height: 30px;
        padding-left: 6px;
    }

    .footer-subscribe {
        padding: 12px 20px;
        font-size: 14px;
    }

}